body {
  padding: 20px;
  max-width: 800px;
  font-size: 14px;
}

.kitchen-sink-current-page > starcounter-include > * {
  margin-bottom: 40px;
}

.form-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.form-group > * {
  flex: 1 1 auto;
  width: 50%;
}

.form-group > label {
  display: block;
  margin-left: 20px;
}

input[type=email]:valid {
  box-shadow: inset 0 -2px 0 #4caf50;
}

input[type=email]:invalid {
  box-shadow: inset 0 -2px 0 #e51c23;
}

.horizontal-section {
  
}