.kitchen-sink-layout {
  display: flex;
}

.kitchen-sink-menu {
  flex: 0 0 160px;
  margin-right: 20px;
}

.kitchen-sink-menu__heading {
  font-size: 100%;
}

.kitchen-sink-menu__headingFirst {
  margin-top: 0;
}

.kitchen-sink-menu_unorderedList {
  padding: 0;
  list-style: none;
}

.kitchen-sink-current-page {
  flex: 0 1 600px;
}

.kitchen-sink-current-page__select {
  width: 50%;
}

.kitchen-sink-current-page__juicySelect {
  display: block;
}

.kitchen-sink-current-page__paragraphHowTo {
  background-color: #FAFAFA;
  border-radius: 5px;
  border-left: 1px solid #F0F0F0;
  padding: 10px;
}
.kitchen-sink-menu ul {
  padding: 0;
  list-style: none;
}

.kitchen-sink-current-page__nested-child {
    padding: 10px;
    border: 1px solid #eeeeee;
}

x-breadcrumb {
    margin-bottom: 20px;
}

.breadcrumb-suggestions {
    padding: 0;
    list-style: none;
    color: white;
    margin: 0;
}

.breadcrumb-suggestions__listItem:hover {
    cursor: default;
    background: rgba(255, 255, 255, 0.2);
}    

.starcounter-upload-tasks {
    background-color: #F0F0F0;
    padding: 5px 10px 5px 10px;
    border-left: 5px solid #C0C0C0;
    margin-top: 20px;
    font-size: x-small;
}

.starcounter-upload-tasks__heading {
    font-size: 15px;
}

google-map {
    height: 300px;
}