.kitchensink-layout {
  display: flex;
}

.kitchensink-menu {
  flex: 0 0 160px;
  margin-right: 20px;
}

.kitchensink-menu__heading {
  font-size: 100%;
}

.kitchensink-menu__headingFirst {
  margin-top: 0;
}

.kitchensink-menu__unorderedList {
  padding: 0;
  list-style: none;
}

.kitchensink {
  flex: 0 1 600px;
}

.kitchensink__select {
  width: 50%;
}

.kitchensink__juicySelect {
  display: block;
}

.kitchensink__paragraphHowTo {
  background-color: #FAFAFA;
  border-radius: 5px;
  border-left: 1px solid #F0F0F0;
  padding: 10px;
}

.kitchensink__nestedChild {
    padding: 10px;
    border: 1px solid #eeeeee;
}

x-breadcrumb {
    margin-bottom: 20px;
}

.kitchensink__breadcrumbSuggestions {
    padding: 0;
    list-style: none;
    color: white;
    margin: 0;
}

.kitchensink__breadcrumbSuggestions__listItem:hover {
    cursor: default;
    background: rgba(255, 255, 255, 0.2);
}    

.starcounter-upload-tasks {
    background-color: #F0F0F0;
    padding: 5px 10px 5px 10px;
    border-left: 5px solid #C0C0C0;
    margin-top: 20px;
    font-size: x-small;
}

.starcounter-upload-tasks__heading {
    font-size: 15px;
}

google-map {
    height: 300px;
}

button.kitchensink__buttonPage__button[pressed] {
    color: white;
    background: green;
}

button.kitchensink__buttonPage__button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}